body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}


svg {
    background-color: white;      
    margin: auto;
}

.legRect{
	outline: 1px solid black;
}

#tooltip {
    background-color: white;
}
